<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"> Surf Point Links</h1>
            <h3 class="mb-5">
                <em>Store your favorite Surf Point Links </em>
            </h3>
            <a class="btn btn-success" href="/signin">
                Let's get started
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>